.normal-btn {
  border: none;
  font-family: 'Roboto';
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
}

.active-item {
  border: 2px solid #0284c7;
  border-radius: 5px;
  height: 24px;
}
.filter-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
